<div id = "index_wrap">

<div id = "login_wrap">

	<header id = "login_header"> hello</header>

	<form method="post" action="/signin">
	  <!-- <label for="email">Email</label> -->
		  <input type="text" name="email" value="email">
			<br/>
	  <!-- <label for="password">Password</label> -->
		  <input type="password" name="password" value="password">
			<br>
		  <input type="submit" id="submitButton" value="sign in"> <a href="/sign-up">sign up</a>

	</form>
	
</div>


<div id ="about_wrap">

	<header id="about_header">about us</header>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident voluptates consequatur autem, est laudantium reprehenderit saepe eum numquam suscipit. Porro consequatur fuga consequuntur officiis perspiciatis nulla optio a enim repellat nam! Illum ipsum adipisci minus labore veritatis ut, commodi obcaecati minima non. Quod quibusdam enim officia sequi cupiditate maxime corporis cumque qui, assumenda aperiam. Quidem incidunt aliquid expedita tenetur beatae, dolorum magnam adipisci qui quod consequuntur odit sit, iure dolores et deleniti eius illo temporibus, pariatur quasi, accusamus sapiente architecto fugiat blanditiis! Aliquam voluptate velit laboriosam magnam provident molestias praesentium, id sunt sint animi, sapiente corporis est obcaecati pariatur et, deleniti possimus fuga ducimus similique. Illum dolore doloribus reiciendis incidunt quisquam aspernatur impedit, eos velit dolores consequatur itaque possimus eveniet minus eligendi voluptatem esse hic aliquid est natus, sed eius in recusandae nostrum! Illum placeat numquam distinctio vitae veniam vel amet qui, libero sint perferendis pariatur ut optio labore. Ea non quaerat natus rem, obcaecati dolorem aspernatur sint sapiente, pariatur, inventore ut, reiciendis consequuntur expedita nulla nobis. Eveniet minus veritatis eaque, dignissimos veniam possimus labore iusto incidunt sunt tenetur.
	</p>

</div>

</div>