

<div id = "index_wrap">

<div id ="about_wrap">

	<header id="about_header">foodie forum</header>

	<p>a place for those who find appreciation in their meals and want to share it with others.
	</p>

</div>

<div id = "login_wrap">

	<header id = "login_header">hello</header>

	<div id="tab_div">
		<div id="login_tab">log in</div>
		<div id="signup_tab">sign up</div>
	</div>

	<div id ="login_form">
	<form action="/signin" method="post">
		  <input class= "textbox" type="text" name="[user]email" placeholder="email">
			<br/>
		  <input class= "textbox" type="password" name="[user]password" placeholder="password">
			<br>

		  <input type="submit" id="signinButton" value="sign in">
	<!-- <a id="signupLink"> sign up </a> -->
	</form>
	<h1><%= @user%></h1>
	</div>
  
<!-- SIGN UP DIV HIDDEN UNTIL CLICKED -->

	<div id = "signup_form">

	<form method="post" action="/signup">
		  <input class= "textbox" type="text" name="[user]email" placeholder="email">
			<br/>
		  <input class= "textbox" type="password" name="[user]password" placeholder="password">
			<br>
			<input class= "textbox" type="text" name="[user]fname" placeholder="first name">
			<br>
			<input class= "textbox" type="text" name="[user]lname" placeholder="last name">
			<br>
			<input class= "textbox" type="integer" name="[user]zipcode" placeholder="zip code">
			<br>

		  <input type="submit" id="signupButton" value="sign up">

	</form>


	</div>

	<% for a in [:alert1, :alert2, :alert3, :notice1] do if !flash[a].nil? %>
		<div class="notice">
		<%= flash[a] %>
		</div>
	<% end %>
	<% end %>
	

</div>



</div>

<script type="text/javascript">
	$(document).ready(function(){

// $("#signup_tab").click(function(){
// 	console.log("this works")
// 	$("#signup_form").show(function(){
// 			// $(this).delay.slideDown();
// 		})
// })


function hasClick(objId){
	this.objID = objId;
	this.hasClick = false;

}
function activeLink(objId){
	this.objID = objId;
	this.activeLink = true;
}

var loginClick = new activeLink("#login_form");
var signupClick = new hasClick("#signup_form");


$("#signup_tab").click(function(){

	if(signupClick.hasClick == false){
		console.log
		$("#signup_tab").css({"text-decoration":"underline","font-weight":"bold"});
		$("#login_tab").css({"text-decoration":"none","font-weight":"normal"});
		$("#signup_form").show(1);
		// (function(){
			// $(this).slideDown();
		signupClick.hasClick = true;
		loginClick.activeLink = false;
		// })	
	}
})

$("#login_tab").click(function(){

	if(loginClick.activeLink == false){
		console.log
		$("#login_tab").css({"text-decoration":"underline","font-weight":"bold"});
		$("#signup_tab").css({"text-decoration":"none","font-weight":"normal"});
		$("#signup_form").hide(1)
			// $(this).slideDown();
		loginClick.activeLink = true;
		signupClick.hasClick = false;

	} 

})

});
</script>


