<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>food forum</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="desktop.css">
	<link href='http://fonts.googleapis.com/css?family=Crushed' rel='stylesheet' type='text/css'>

</head>
<body>

<nav>
<div id="abbr_logo">ff</div>
			<ul>
				<li></li>
				<li>contact us</li>
				<li><a href="/updateinfo">my account</a></li>
			</ul>

</nav>

<div id="main_content">
	
<%= yield %>


</div>
<div class="push"></div>

		<footer>
			<ul>
				<li><a href=""><img src="images/linkedin.png" alt=""></a></li>
				<li><a href=""><img src="images/fb.png" alt=""></a></li>
				<li><a href=""><img src="images/twitter.png" alt=""></a></li>
				<li><a href=""><img src="images/email.png" alt=""></a></li>
			</ul>
		</footer>

</body>
</html>