<div id="newsfeed_content">

	<div id="miniprofile_bar">

		<div id="miniprofile_box">
			<img src="public/images/profilepic.jpg" alt="">
			<p>username</p>
			<p>status</p>
			<p>location</p>
		</div>


		<div id="badge_box">
			<div id="badge5"></div>
			<div id="badge4"></div>
			<div id="badge3"></div>
			<div id="badge2"></div>
			<div id="badge1"></div>
		</div>

		<div id="mapbox">
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:180px;width:600px;"><div id="gmap_canvas" style="height:180px;width:600px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}#maps{width:600px;font-size:10px;font-family:arial;text-align:right;}</style></div><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script><script type="text/javascript">jQuery(document).ready(function(){jQuery('.gmap').hide();jQuery("#maps span").click(function() {var $this = $(this);$this.next("div").fadeToggle();$('.gmap').not($this.next("div")).fadeOut();});});</script><script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(40.8054567,-73.96547470000002),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.8054567, -73.96547470000002)});infowindow = new google.maps.InfoWindow({content:"<b>The Breslin</b><br/>2880 Broadway<br/> New York" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script><div id="maps"><span>Google Maps © 2014</span><div class="gmap">supported by <a href="http://www.sparbalu.com">www.sparbalu.com</a></div></div>
		</div>

		<!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
		
	</div>


<div id="newsfeed_topbox">
	<header id ="newrecs_title"> most recent posts</header>
<!-- <div id ="recent_posts"> -->
	<div id="recent_post1">
		<div class="img_wrapper">
			<img src="images/momofuku_noodle.jpg">
		</div>
		<div class="post">
			<p>vicwang rec<br>momofuku ramen</p>
		</div>
	</div>
	<div id="recent_post2"></div>
	<div id="recent_post3"></div>
	<div id="recent_post4"></div>
	<div id="recent_post5"></div>
<!-- </div> -->
</div>

<div id = "newsfeed_midbox">
		Voluptatem eos fugit illo, modi quia quisquam nihil eius perspiciatis. Molestias harum quasi eaque, excepturi atque assumenda nesciunt iure eum, quia, consequuntur magni aperiam quod. Quo dolore accusamus asperiores pariatur sint distinctio, adipisci eos impedit voluptatibus natus soluta at doloremque omnis provident vero fuga. Corrupti at necessitatibus earum, veniam consectetur, laborum quam? Adipisci praesentium ex nesciunt, voluptatum exercitationem, corrupti at ab eum quis officia provident officiis? Quibusdam itaque adipisci voluptatibus, perspiciatis blanditiis reprehenderit autem temporibus minima, id dignissimos quod est labore quasi debitis, voluptatum. Natus numquam saepe suscipit laudantium repellat reiciendis eveniet, corporis molestias illo veritatis magni modi rerum alias cumque beatae, error dolor totam incidunt dolores minus. Ex ipsam distinctio doloremque unde quidem consequatur commodi natus quisquam necessitatibus dicta est at, aspernatur harum itaque laboriosam porro voluptatibus nihil minima eligendi quo velit ad culpa, temporibus illo! At ea nulla ullam obcaecati eaque, ad sint nesciunt aspernatur illo vero, alias eos ab dignissimos eum. Quo eaque impedit officia. Quis sit eos culpa saepe possimus deleniti. Odit, nulla enim.
	
	</div>

	<div id="newsfeed_endbox">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo at eaque, nesciunt recusandae, temporibus pariatur. Voluptatum soluta, dolor dolores necessitatibus beatae rerum, pariatur facilis, iusto reiciendis dignissimos aut consectetur. Officia sapiente architecto, accusamus ut, qui tenetur quis saepe, dolorem quas explicabo reprehenderit voluptates itaque aliquid atque vel, minus sequi earum facere obcaecati doloribus cupiditate est dignissimos. Laboriosam assumenda impedit sit a architecto, dolore, ipsum officia modi odit veniam veritatis earum tenetur quas illum dolores saepe repudiandae sint harum dolor omnis? Tempore reiciendis numquam necessitatibus libero, delectus ipsum eveniet officia molestias voluptate architecto quia, ab tenetur fugiat alias accusantium beatae dolor! Nihil quis delectus, non officiis deserunt ullam asperiores cumque maxime reprehenderit libero, reiciendis placeat, consequuntur ducimus sed, voluptate magnam. Ducimus in ipsum nobis nihil dolorum, ea, amet? Excepturi veritatis repellendus doloremque accusamus sint illo porro modi laboriosam earum soluta? Totam, sapiente, aspernatur. Excepturi non vitae recusandae odio veniam iusto, officia perspiciatis possimus consequatur perferendis suscipit et rem molestiae quod repellat ipsam aliquam debitis totam dolorem alias natus nostrum. At quae totam placeat ratione error nihil velit excepturi laborum voluptates, quam minima quod sunt rem ad nisi eaque repellendus! Iusto minus iste, rem, perferendis cumque quam dignissimos eos nobis labore incidunt repellat eveniet vel odio dolore unde, aut aperiam assumenda eum ipsum dolorem earum nisi ut. In earum saepe veniam ipsam accusantium quia voluptatibus ex rem minima, facere! Explicabo distinctio libero sint dignissimos sit? Ad ipsum, enim voluptates veritatis porro ut aperiam tenetur quasi hic eius, quo commodi saepe esse facilis!
</div>
</div>
