<form action="/signup" method="post">
    <label for="email">email</label><br>
    <input name="[user]email" type="text" /><br>
    <label for="password">Password</label><br>
    <input name="[user]password" type="text" />
  <div class="actions">
    <input name="commit" type="submit" value="Send mail" />
  </div>
</form>