
<h1>Update your information</h1>

<form method="post" action="/update">
		  <input type="text" name="[user]email" value="email">
			<br/>
		  <input type="password" name="[user]password" value="password">
			<br>
			<input type="text" name="[user]fname" value="first name">
			<br>
			<input type="text" name="[user]lname" value="last name">
			<br>
			<input type="integer" name="[user]zipcode" value="zip code">
			<br>

		  <input type="submit" id="signupButton" value="update">

	</form>