<div id = "user_content_wrap">

<div id = "user_timeline">

	<div id = "user_post_form">
<!-- insert post form here only if current user is in his/her own user page, else hide  -->
		
		<header id="post_header">
			post a rec
		</header>

		<form action="/post_rec" method="post">
			<input type="text" name="[post]title" value="title">
			<br/>

		  	<textarea name="[post]body" id="post_body" value="what's your rec?"></textarea>
			<br>

		  	<input type="submit" id="submit_post" value="post">
		</form>

	</div>


	<div class = "post_style" id="post1">
		<div class = "insert_image">
			
		</div>
		<header class = "post_title">
			<p>ie. best burger ever
			<!-- INSERT POST TITLE OF USERS' MOST RECENT POST -->
			</p>
		</header>
		<div class = "post_body">
			<p>recommend! this australian burger from ruby's is the bomb.
			<!-- INSERT POST BODY OF USERS' MOST RECENT POST -->
			</p>
		</div>
		<div class="timestamp">
			<p>timestamp</p>
		</div>
	</div>
	
	<div class = "post_style" id="post2">
		<div class = "insert_image">
			
		</div>
		<header class = "post_title">
			<p>ie. good local pizza
			<!-- INSERT POST TITLE OF USERS' MOST RECENT POST -->
			</p>
		</header>
		<div class = "post_body">
			<p>recommend! thin and crispy.
			<!-- INSERT POST BODY OF USERS' MOST RECENT POST -->
			</p>
		</div>
		<div class="timestamp">
			<p>timestamp</p>
		</div>
	</div>

	<div class = "post_style" id="post3">
		<div class = "insert_image">
			
		</div>
		<header class = "post_title">
			<p>ie. RAMEN
			<!-- INSERT POST TITLE OF USERS' MOST RECENT POST -->
			</p>
		</header>
		<div class = "post_body">
			<p>recommend! my kind of comfort food. (from minca's)
			<!-- INSERT POST BODY OF USERS' MOST RECENT POST -->
			</p>
		</div>
		<div class="timestamp">
			<p>timestamp</p>
		</div>
	</div>

	<div class = "post_style" id="post4">
		<div class = "insert_image">
			
		</div>
		<header class = "post_title">
			<p>ie. cacio e pepe
			<!-- INSERT POST TITLE OF USERS' MOST RECENT POST -->
			</p>
		</header>
		<div class = "post_body">
			<p>recommend! simple but delicious
			<!-- INSERT POST BODY OF USERS' MOST RECENT POST -->
			</p>
		</div>
		<div class="timestamp">
			<p>timestamp</p>
		</div>
	</div>

	<div class = "post_style" id="post5">
		<div class = "insert_image">
			
		</div>
		<header class = "post_title">
			<p>ie. sad spaghetti
			<!-- INSERT POST TITLE OF USERS' MOST RECENT POST -->
			</p>
		</header>
		<div class = "post_body">
			<p>do not recommend. overcooked and bland. it's hard to mess up spaghetti but they did it!
			<!-- INSERT POST BODY OF USERS' MOST RECENT POST -->
			</p>
		</div>
		<div class="timestamp">
			<p>timestamp</p>
		</div>
	</div>

</div>

<!-- END USER TIMELINE -->


<div id="user_sideprofile">

	<div id="user_profile_img">
		<!-- INSERT USER PROFILE IMAGE -->
	</div>

	<div id ="user_info">
		<p> Melissa Lin <!-- INSERT USER FIRST NAME + LAST NAME --> </p>
		<p> &lpar;12&rpar; posts <!-- INSERT # OF USERS POSTS --> </p>
		<p> 24 followers <!-- INSERT # OF USERS FOLLOWERS --></p>
		<p> 25 following <!-- INSERT # OF USERS THE USER IS FOLLOWING --></p>
	</div>


	<div id="user_follower_list">
		<p> <!-- INSERT LIST OF ALL USERS' FOLLOWRS--> </p>
	</div>

	<div id="user_following_list">
		<p> <!-- INSERT LIST OF ALL USERS THAT USER IS FOLLOWING --> </p>
	</div>

</div>









</div>