
/*RESET CSS*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET STYLESHEET */


/* START LAYOUT STYLESHEET */

* {
	margin: 0;

}

html, body {
	min-width: 1175px;
	height: 100%;
	width: 100%;
		font-family: Arial, sans-serif;
	font-size: 14px;
}


footer, .push {
	height: 60px;
	clear: both;
}

#main_content {
	/*float: left;*/
	position: relative;
	min-width: 1175px;
	width: 100%;
	height: 100%;
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -60px;

	overflow: hidden;
	padding-bottom: 60px;

}

a {
	text-decoration: none;
	color: black;
}
/* END LAYOUT STYLESHEET */


/* START INDEX PAGE STYLESHEET */


#index_wrap {
	/*float: left;*/
	min-width: 850px;
	width:auto;

	height: 100%;
	/*height: 500px;*/
	background-color: #eee;
	position: absolute;
	/*top: 60px;*/
	padding: 30px;
	margin: 0 auto;
	left: 50%;
	margin-left: -450px;
	margin-right: auto;
	display: block;
	overflow: hidden;
}


/* ---- about section styling ----- */

#about_wrap {
	float: left;
	/*margin: 0px 0 20px 50px;*/
	width: 500px;
	height: 300px;
	position: relative;
	/*background-color: #555;*/
/*	top: 150px;
	left: 300px;*/
}

#about_header {
	font-size: 40px;
	margin-bottom: 15px;
	color: #ff9540;
}


/* ------ login section -----*/


#login_wrap input, #signup_form input{
	margin-bottom: 5px;
}

#login_wrap form, #signup_form form{
	margin-top: 15px;
}
#login_wrap {
	float: left;
	background-color: #fcae6f;
	width: 200px;
	height: 300px;
	text-align: center;
	position: relative;
	margin: 20px 0px 0px 100px;
/*	margin-left: auto;
	margin-right: auto;*/
	border-radius: 15px;

}

#login_header {
	margin-top: 15px;
	font-size: 40px;
}


/* ------ signup section -----*/


#signup_form {
	display:none;
	float: left;
	background-color: #fcae6f;
	width: 200px;
	height: 245px;
	text-align: center;
	position: relative;
	top: -92px;
	border-radius: 0 0 15px 15px;

}


/* END INDEX PAGE STYLESHEET */



/*NAV*/
nav {
	min-width: 900px;
	width: 100%;
	height: 60px;
	position: relative;
	float: left;
	display: inline-block;
	background-color: #ff9540;
	vertical-align: text-bottom;
	text-align: center;
}

nav ul li{
	display: inline-block;
	font-size: 20px;
}

nav ul {
	position: relative;
	top: 20px;
}
/*END NAV*/


/*FOOTER*/
footer {
	min-width: 900px;
	width: 100%;
	height: 50px;
	border-top: 1px black solid;
	position: relative;
	/*position: fixed;*/
/*	left: 0;
	bottom: 0;*/
	text-align: center;
	clear: both;
	padding-top: 10px;
	background-color: white;
	margin-top: -50px;

}

footer ul li {
	display: inline-block;
}

footer img {
	width: 40px;
	height: 40px;
}

footer a:hover {
	opacity: .5;
}
/*END FOOTER*/



/*PROFILE PAGE*/

#newsfeed_content {
	min-width: 900px;
	/*width: auto;*/
	height: 100%;
	position: relative;
	padding: 10px 40px 40px 40px;
	margin: 0 auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
	/*margin: auto;*/
/*	left: 0;
	right: 0;*/
	/*top: 60px;*/
	/*padding-top: 10px;*/
	border: 1px solid red;
}


#miniprofile_bar {
	width: 800px;
	height: 205px;
	border: 1px solid #ff9540;
	/*float: left;*/
	position: relative;
	margin: 0 auto;
	/*background-color: rgba(0,0,0,0.1);*/
}


#miniprofile_box {
	width: 120px;
	height: 200px;
	/*border: 1px solid green;*/
	position: relative;
	left: 7px;
	float: left;
	text-align: center;
}

#miniprofile_box img {
	width: 100px;
	height: 100px;
	/*position: relative;*/
	padding-top: 10px;
	
}

#miniprofile_box p {
	/*position: relative;*/
	padding-top:8px;
	line-height: 18px;
}

#badge_box {
	width: 20px;
	height: 100%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	/*border: 1px black solid;*/
}

#badge_box div{
	width: 20px;
	height: 20px;
	/*background-color: blue;*/
	float: left;
	margin: 10px 0 10px 0;
	border-radius: 50px;
}

#badge1 {
	background-color: blue;
}

#badge2 {
	background-color: purple;
}

#badge3 {
	background-color: red;
}

#badge4, #badge5 {
	background-color: black;
	opacity: .2;
}

#mapbox {
	position: relative;
	float: left;
	padding: 10px 0 0 25px;
	/*left:150px;*/
	/*top:10px;*/
}

#newsfeed_topbox, #newsfeed_midbox, #newsfeed_endbox {
	/*height: 400px;*/
	min-width: 1175px;
	width: auto;
	border: 1px solid #ff9540;
	position: relative;
	margin-top: 15px;
	background-color: rgba(0,0,0,0.05);
	text-align: center;
}

#newrecs_title{
	text-align: left;
	padding: 5px 0 7px 30px;
	font-size: 20px;
	background-color: #ff9540;
	font-weight: bold;
	color: #555;
}

#recent_post1, #recent_post2, #recent_post3, #recent_post4, #recent_post5 {
	/*float: left;*/
	position: relative;
	width: 200px;
	height: 300px;
	margin: 15px ;
	background-color: #ccc;
	display: inline-block;
}

.img_wrapper {
	float:left;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

#newsfeed_topbox div img {
	width: 100%;
}

.post {
	float:left;
	width: 200px;
	text-align: center;
}