
/*RESET CSS*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET STYLESHEET */


/* START LAYOUT STYLESHEET */

* {
	margin: 0;

}

html, body {
	min-width: 950px;
	height: 100%;
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 14px;
}


footer, .push {
	height: 60px;
	clear: both;
}

#main_content {
	/*float: left;*/
	position: relative;
	min-width: 950px;
	width: 100%;
	height: 100%;
	min-height: 500px;
	height: auto !important;
	margin: 0 auto -60px;
	overflow: hidden;
	padding-bottom: 60px;
	display: block;

}

a {
	text-decoration: none;
	color: black;
}
/* END LAYOUT STYLESHEET */


/* START INDEX PAGE STYLESHEET */


#index_wrap {
	/*float: left;*/
	min-width: 820px;
	width:auto;
	height: 100%;
	/*height: 500px;*/
	background-color: #eee;
	position: absolute;
	/*top: 60px;*/
	padding: 60px;
	padding-top: 50px;
	margin: 0 auto;
	left: 50%;
	margin-left: -465px;
	margin-right: auto;
	display: block;
	/*overflow: hidden;*/
}


/* ---- about section styling ----- */

#about_wrap {
	float: left;
	/*margin: 0px 0 20px 50px;*/
	width: 520px;
	height: 300px;
	position: relative;
	/*background-color: #555;*/
/*	top: 150px;
	left: 300px;*/
}

#about_header {
	font-size: 40px;
	margin-bottom: 15px;
	color: #ff9540;
	font-family: 'Crushed', cursive;
}


/* ------ login section -----*/


#login_wrap input, #signup_form input{
	margin-bottom: 5px;
}

#login_wrap form, #signup_form form{
	margin-top: 15px;
}
#login_wrap {
	float: right;
	background-color: #fcae6f;
	width: 200px;
	height: 300px;
	text-align: center;
	position: relative;
/*	margin-left: auto;
	margin-right: auto;*/
	border-radius: 15px;

}

#login_header {
	margin-top: 10px;
	font-size: 40px;
	font-family: 'Crushed', cursive;
}


#login_tab, #signup_tab {
	display: inline-block;
	margin-top: 8px;

}

#login_tab {
	font-weight: bold;
	text-decoration: underline;
	width: 57px;
}

#login_tab:hover, #signup_tab:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;

}
#signup_tab {
	width: 73px;
}

.textbox {
	width: 130px;
	height: 20px;
	border: 1px solid white;
}

.textbox:hover {
	border: 1px solid #000;
}

.textbox:focus {
	border: 1px solid #aaa;
	outline: 0;
}
/* ------ signup section -----*/


#signup_form {
	display:none;
	float: left;
	background-color: #fcae6f;
	width: 200px;
	height: 221px;
	text-align: center;
	position: relative;
	top: -94px;
	border-radius: 0 0 15px 15px;

}

#signinButton, #signupButton {
	width: 60px;
	font-size: 12px;
	border: 0px solid;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: white;
	color:#ff9540;
}

#signinButton:hover, #signupButton:hover {
	border: 1px solid #aaa;

}

#signinButton:focus, #signupButton:focus {
	outline: 0;
	color: black;
}

.notice {
	position: relative;
	bottom: 0px;
	background-color: #ddd;
	color: black;
	border-radius: 1px;
	height: 15px;
	opacity: .7;
}


/* END INDEX PAGE STYLESHEET */


/*NAV*/
nav {
	min-width: 500px;
	width: 100%;
	height: 50px;
	position: relative;
	float: left;
	display: inline-block;
	background-color: #ff9540;
	/*vertical-align: text-bottom;*/
	text-align: right;
}

nav ul li{
	display: inline-block;
	margin-left: 13px;
}

nav ul {
	position: relative;
	font-size: 17px;
	top: 16px;
	margin-right: 10px;
}

nav a:hover{
	color: white;
}


#abbr_logo {
	float: left;
	/*display: block;*/
	font-family: 'Crushed', cursive;
	font-size: 38px;
	position: relative;
	top: 8px;
	margin-left: 10px;
	letter-spacing: 3px;
}
/*END NAV*/


/*FOOTER*/
footer {
	min-width: 900px;
	width: 100%;
	height: 50px;
	border-top: 1px black solid;
	position: relative;
	/*position: fixed;*/
/*	left: 0;
	bottom: 0;*/
	text-align: center;
	clear: both;
	padding-top: 10px;
	background-color: white;
	margin-top: -50px;

}

footer ul li {
	display: inline-block;
}

footer img {
	width: 40px;
	height: 40px;
}

footer a:hover {
	opacity: .5;
}
/*END FOOTER*/



/*PROFILE PAGE*/

#newsfeed_content {
	min-width: 800px;
	/*width: auto;*/
	height: 100%;
	position: relative;
	padding: 10px 40px 40px 40px;
	margin: 0 auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
	/*margin: auto;*/
/*	left: 0;
	right: 0;*/
	/*top: 60px;*/
	/*padding-top: 10px;*/
	border: 1px solid red;
}


#miniprofile_bar {
	width: 800px;
	height: 205px;
	border: 1px solid #ff9540;
	/*float: left;*/
	position: relative;
	margin: 0 auto;
	/*background-color: rgba(0,0,0,0.1);*/
}


#miniprofile_box {
	width: 120px;
	height: 200px;
	/*border: 1px solid green;*/
	position: relative;
	left: 7px;
	float: left;
	text-align: center;
}

#miniprofile_box img {
	width: 100px;
	height: 100px;
	/*position: relative;*/
	padding-top: 10px;
	
}

#miniprofile_box p {
	/*position: relative;*/
	padding-top:8px;
	line-height: 18px;
}

#badge_box {
	width: 20px;
	height: 100%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	/*border: 1px black solid;*/
}

#badge_box div{
	width: 20px;
	height: 20px;
	/*background-color: blue;*/
	float: left;
	margin: 10px 0 10px 0;
	border-radius: 50px;
}

#badge1 {
	background-color: blue;
}

#badge2 {
	background-color: purple;
}

#badge3 {
	background-color: red;
}

#badge4, #badge5 {
	background-color: black;
	opacity: .2;
}

#mapbox {
	position: relative;
	float: left;
	padding: 10px 0 0 25px;
	/*left:150px;*/
	/*top:10px;*/
}

#newsfeed_topbox, #newsfeed_midbox, #newsfeed_endbox {
	/*height: 400px;*/
	min-width: 800px;
	width: auto;
	border: 1px solid #ff9540;
	position: relative;
	margin-top: 15px;
	background-color: rgba(0,0,0,0.05);
	text-align: center;
}

#newrecs_title{
	text-align: left;
	padding: 5px 0 7px 30px;
	font-size: 20px;
	background-color: #ff9540;
	font-weight: bold;
	color: #555;
}

#recent_post1, #recent_post2, #recent_post3, #recent_post4, #recent_post5 {
	/*float: left;*/
	position: relative;
	width: 200px;
	height: 300px;
	margin: 15px 15px 0px 0px;
	background-color: #ccc;
	display: inline-block;
}

.img_wrapper {
	float:left;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

#newsfeed_topbox div img {
	width: 100%;
}

.post {
	float:left;
	width: 200px;
	text-align: center;
}




/*  USER PRIVATE PROFILE STYLESHEET */


#user_content_wrap {
	position: relative;
	min-width: 950px;
	margin: 20px;
	font-size: 15px;
}

#user_timeline {
	position: relative;
	float:left;
	min-width: 500px;
}

#user_sideprofile {
	float: right;
	background-color: #eee;
	width: 185px;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	margin-bottom: 10px;
	position: relative;
}

#user_profile_img {
	position: relative;
	width: 150px;
	height: 180px;
	border: 1px solid black;
	margin: 0 auto;
	overflow: hidden;
}

#user_info {
	margin-top: 10px;
	line-height: 22px;
}
#user_fullname {
	font-weight: bold;
}


#user_post_form {
	/*background-color: rgba(238, 238,238, .5);*/
	border: 2px solid #ff9540;
	padding: 8px 15px 8px 15px;
	min-width: 400px;
}

#post_header {
	font-weight: bold;
	font-style: italic;
	line-height: 20px;
	color: #ff9540;
}

#post_textbox {
	height: 20px;
	width: 230px;
	margin-top: 5px;
	margin-bottom: 8px;
	padding-left: 5px;
	border: 1px solid black;
	font-size: 13px;
}

#post_textbox:hover, #post_body:hover {
	border: 1px solid #ff9540;
}

#post_textbox:focus, #post_body:focus{
	outline: 0
}

#post_body {
	width: 400px;
	border: 1px solid black;
	font-size: 13px;
	margin-bottom: 5px;
}

#submit_postbtn {
	width: 50px;
	font-size: 13px;
	border: 0px solid;
	padding-top: 2px;
	padding-bottom: 3px;
	background-color: #ff9540;
	color: white;
	font-weight: bold;
}

#submit_postbtn:hover {

}

#submit_postbtn:focus {
	outline: 0;
}

.post_style {
	float: left;
	width: 150px;
	height: 200px;
	border: 1px dashed #ccc;
	/*margin: 10px;*/
}





















